<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/blog.css" type="text/css">
<title>my_blog</title>
<style>
	#modal p {
		margin-left:80px;
	}
</style>
</head>

<body>
	<div class="header">
		<div class="header-wrap">
			<div class="logo">
				<a href="#">
					<img src="/images/blog.jpg" width="130">
				</a>	
			</div>
			<div class="search-form">
				<form  action="" style="width: 500px;height: 100px;display: inline;margin: 30px auto">
				<input type="text" id="search-input">
				<button id="button-search">搜索</button>
				</form>	
			</div>
			<div class="list">
				<ul>
					<li>
						<a href="write">写博客</a>
					</li>
					<li>
						<a href="index">主页</a>
					</li>
					<li>
						<a href="personal_center">个人中心</a>
					</li>
					<li>
						<a th:text="'你好，' + ${session.loginUser}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 th:text="${blogdata.blogTitle}"></h2>
		<br>
		<h5>作者：<span th:text="${blogdata.userId}"></span></h5>
		<h5>发布时间：<span id="blogDateTime" th:text="${blogdata.dateTime}"></span></h5>
		<br>
		<p th:text="${blogdata.blogText}"></p>
		<br>
		<br>
		<br>
		<br><br><br><br><br>
		<div class="comment-count" style="font-size: 14px;color: grey;">
		</div>
	</div>
	<div class="container-comment">
		<form action="/blog/addcomment" method="post" name="commentdata" style="margin: 0 auto;width: 80%" onsubmit="return commentCheck()">
			<input type="text" id="input-comment" name="commenttext" placeholder="说点什么吧">
			<input type="hidden" name="blogTime" id="time">
			<button id="button-comment" type="submit">发表评论</button>
		</form>
	</div>
	<div class="item">
		<div class="comment" th:each="comment:${blogcomment}">
			<h3><a th:text="${comment.commentUserId}"></a>&nbsp;</h3><a th:text="${comment.blogComment}"></a>
		</div>
	</div>
<script type="text/javascript">
	// window.onload = function () {
	// 	var blogDateTime = sessionStorage.getItem("blogDateTime");
	// 	document.getElementById("time").value = blogDateTime;
	// }
	function commentCheck() {
		if (document.commentdata.commenttext.value=="") {
			alert("输入的评论为空！");
			return false
		}
		return true;
	}
</script>
<script th:inline="javascript">
	document.getElementById("time").value  = [[${blogdata.dateTime}]]
	 // sessionStorage.setItem("blogDateTime", v);
</script>
</body>
</html>
