<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/blog.css" type="text/css">
<title>my_blog</title>
<style>
	.hide{
		display: none;
	}
	.c1{
		position: fixed;
		top:0;
		bottom: 0;
		left:0;
		right: 0;
		background: rgba(0,0,0,.5);
		z-index: 2;
	}
	.c2{
		background-color: white;
		position: fixed;
		width: 400px;
		height: 300px;
		top:50%;
		left: 50%;
		z-index: 3;
		margin-top: -150px;
		margin-left: -200px;
	}
	#modal p {
		margin-left:80px;
	}
</style>
</head>

<body>
	<div class="header">
		<div class="header-wrap">
			<div class="logo">
				<a href="#">
					<img src="/images/blog.jpg" width="130">
				</a>	
			</div>
			<div class="search-form">
				<form  action="" style="width: 500px;height: 100px;display: inline;margin: 30px auto">
				<input type="text" id="search-input">
				<button id="button-search">搜索</button>
				</form>	
			</div>
			<div class="list">
				<ul>
					<li>
						<a href="write.html">写博客</a>
					</li>
					<li>
						<a href="host.html">主页</a>
					</li>
					<li>
						<a href="personal_center.html">个人中心</a>
					</li>
					<li>
						<a href="#" onClick="Show()">登录</a>
					</li>
					<li>
						<a href="#" onClick="Show()">注册</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<h2>我的博客</h2>
		<br>
		<h5>作者：<span>xxx</span></h5>
		<h5>发布时间：<span>2019-4-23</span></h5>
		<br>
		<p>博客园创建于2004年1月，博客园诞生于江苏扬州这样一个IT非常落后的小城市，城市虽小，但是这里却有很多求知创新的人，博客园诞生的理由是如此简单。
		</p>
		<p>一个IT技术人员想为IT技术人员们提供一个纯净的技术交流空间，博客园很长时间只有一个不能再简单的博客，有近四年，博客园仅靠一个人几年工作的积蓄在维持，互联网浪潮的此起彼伏，“博客”从耀眼的明星成为平民，这些似乎都与博客园无关，博客园一步一个脚印地走着自己的路，傻傻地对每个用户注册进行人工审批、对首页内容宁缺毋滥、对不合适的广告拒之门外，傻傻地对用户体验关怀备至，对盈利模式冷若冰霜。
		</p>
		<p>
		这样一个不起眼的地方，却吸引了很多IT技术精英，把这里当作自己的网上家园，每天在这里分享着精彩的原创内容，也许他们看重的不是华丽的外表、诱人的虚名，而是纯净、专注、对技术人员的理解。
		</p>
		<p>
		博客园来到了上海，有了自己的团队，注册用户4万多，每天有15万以上的用户访问，除了博客，有了互动交流的小组，有了你问我答的博问，有了收藏精彩内容的网摘，有了搜索站内内容的找找看，有了随时记录思想火花的闪存，有了随时了解业内动态的新闻频道，有了知识库，有了期刊，有了……
		</p>
		<p>	
		博客园的用户中成长出了一批又一批专家，在IT行业中大展身手！
		博客园在行业中的影响力越来越大！
		博客园正朝着高品质的IT媒体与社区方向发展……
		这些文字不能清楚地描述出真正的博客园，我们知道：真正的博客园体现于我们每天为用户提供的服务！
		</p>
		<br>
		<br>
		<br>
		<br><br><br><br><br>
		<div class="comment-count" style="font-size: 14px;color: grey;">
			阅读量 <span>10w+</span>
		</div>
	</div>
<div class="container-comment">
		<form action="" style="margin: 0 auto;width: 80%">
			<input type="text" id="input-comment" placeholder="说点什么吧">
			<button id="button-comment">发表评论</button>
		</form>
	</div>
	<div id="shade" class="c1 hide"></div>
<div id="modal" class="c2 hide">
	<div id="log-in">
    <p>用户：<input type="text" style="margin: 10px auto;"></p>
    <p>密码：<input type="password" style="margin: 10px auto;"/></p>
<p>
    <input type="button" value="确定" style="margin: 0 20px 30px auto;" onclick="Hide();">
    <input type="button" value="取消" onclick="Hide();">
</p>
		</div>
    </div>
<script>
    function Show(){
        document.getElementById('shade').classList.remove('hide');
        document.getElementById('modal').classList.remove('hide');
    }
     function Hide(){
        document.getElementById('shade').classList.add('hide');
        document.getElementById('modal').classList.add('hide');
    }
</script>
</body>
</html>
