<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/blog.css" type="text/css">
<title>个人中心</title>
<style>
	.hide{
		display: none;
	}
	#modal p {
		margin-left:80px;
	}
</style>
</head>

<body>
	<div class="header">
		<div class="header-wrap">
			<div class="logo">
				<a href="#">
					<img src="/images/blog.jpg" width="130">
				</a>	
			</div>
			<div class="search-form">
				<form  action="" style="width: 500px;height: 100px;display: inline;margin: 30px auto">
				<input type="text" id="search-input">
				<button id="button-search">搜索</button>
				</form>	
			</div>
			<div class="list">
				<ul>
					<li>
						<a href="write">写博客</a>
					</li>
					<li>
						<a href="index">主页</a>
					</li>
					<li>
						<a href="personal_center">个人中心</a>
					</li>
					<li>
						<a th:text="'你好，' + ${session.loginUser}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="personal">
			<form action="/user/changedata" name="changedata" method="post" style="width: 98%" onsubmit="return registCheck()">
				<ul>
					<li>
						修改密码  <input type="password" name="userpassword">
					</li>
					<li>
						确认密码  <input type="password" name="userpassword_check">
					</li>
					<li> 学校  <input type="text" name="school">
					</li>
					<li>
						个人简介<br>  <input type="text" name="introduction" style="width: 600px;height: 150px;">
					</li>
				</ul>
				<input id="button-write" type="submit" value="提交">
			</form>
		</div>
	</div>
	<script type="text/javascript">
		function registCheck()
		{
			if (document.registdata.userpassword.value !== document.registdata.userpassword_check.value){
				alert("两次输入的密码不一致！");
				return false;
			}
			return true;
		}

	</script>
</body>
</html>
