<!doctype html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/blog.css" type="text/css">
<title>写博客</title>
<style>
	#modal p {
		margin-left:80px;
	}
</style>
</head>

<body>
	<div class="header">
		<div class="header-wrap">
			<div class="logo">
				<a href="#">
					<img src="/images/blog.jpg" width="130">
				</a>	
			</div>
			<div class="search-form">
				<form  action="" style="width: 500px;height: 100px;display: inline;margin: 30px auto">
				<input type="text" id="search-input">
				<button id="button-search">搜索</button>
				</form>	
			</div>
			<div class="list">
				<ul>
					<li>
						<a href="write">写博客</a>
					</li>
					<li>
						<a href="index">主页</a>
					</li>
					<li>
						<a href="personal_center">个人中心</a>
					</li>
					<li>
						<a th:text="'你好，' +${session.loginUser}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="write">
			<form action="/blog/addblog" method="post" style="width: 98%">
				<textarea name="blogtitle" type="text" id="input-title" placeholder="标题" ></textarea>
				<textarea name="blogtext" type="text" id="input-write" placeholder="写点什么吧" ></textarea>
				<button id="button-write" type="submit">发表</button>
			</form>
		</div>
	</div>

</body>
</html>
