<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.UserMapper">


<!--登录查询用户是否存在    -->
    <select id="ifUser" resultType="int" parameterType="com.blog.entity.User">
        select
        count(*)
        from user
        where
        userId = #{userId}
    </select>
<!--验证用户密码-->
    <select id="ifPassword" resultType="int" parameterType="com.blog.entity.User">
        select
        count(*)
        from user
        where
        userId = #{userId} and userPassword = #{userPassword}
    </select>
<!--添加用户    -->
    <insert id="addUser" parameterType="com.blog.entity.User">
        insert into user (userId, userPassword)
        values (#{userId, jdbcType=VARCHAR}, #{userPassword, jdbcType=VARCHAR})
    </insert>
<!--修改用户信息    -->
<update id="changeUserData" parameterType="com.blog.entity.User">
    update user set
    userPassword = #{userPassword, jdbcType=VARCHAR},
    school = #{school, jdbcType=VARCHAR},
    introduction = #{introduction, jdbcType=VARCHAR}
    where userId = #{userId}
</update>
</mapper>
